<!DOCTYPE HTML>
<html>
<head>
    <title>Магазина обуви </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    @await Html.PartialAsync("Partial/_Styles")

</head>
<body>

    <div class="colorlib-loader"></div>

    <div id="page">
        <nav class="colorlib-nav" role="navigation">
            @await Html.PartialAsync("Partial/_TopMenu");
       
        </nav>

        @RenderBody()

        @await Html.PartialAsync("Partial/_Footer");
        
    </div>

    <div class="gototop js-top">
        <a href="#" class="js-gotop"><i class="ion-ios-arrow-up"></i></a>
    </div>

 @await Html.PartialAsync("Partial/_Scripts");

</body>
</html>


